.pgl-copyrights p{
    margin: 0;
}
.mb-50{
    margin-bottom: 50px;
}
.bread_contato {
    background: url("../images/bg-page-top.jpg") no-repeat #333 center center;
}
h2{
    margin: 0 0 10px;
}
i.fa{
    font-size: 16px;
}
a.link_preto{
    color: #000;
}
a.link_preto:hover{
    color: #C29466;
}
.property-thumb-info-content address{
    color: #666;
}
